* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #232323;
}

a:visited {
    color: #232323;

}

body {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-size: 1.17rem;
    color: #232323;
}

header {
    margin-bottom: 5rem;
}

p {
    margin: 1rem 0rem;
}

p a {
    color: rgb(62, 62, 246);
    border-bottom: 1px solid #3e3ef6;
}

p a::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    margin-top: -0.5rem;
    background-image: url("./assets/svgs/link-svgrepo-com.svg");
    background-size: cover;
}

ul {
    list-style: none;
}

ul li::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 0.2rem -0.3rem 0;
    background-image: url("./assets/svgs/arrow-square-up-right-svgrepo-com.svg");
    background-size: cover;
}

li:hover {
    opacity: .7;
    cursor: pointer;
}